@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@100;300;400;700;900&family=Playfair+Display:wght@400;500;600;900&display=swap');

* { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
 } 

 .home-page {
  display: flex;
  flex-direction: row;
 }

.left-half {
  text-align: center;
  background-color: white;
  background-size: cover;
  height: 100vh;
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.left-text {
  margin: auto;
}

.right-half {
  height: 100vh;
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0; 
}

#picture {
  height: 70vh;
}

.home-page h1 {
  color: black;
  padding: 40px;
  font-size: 70px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}

.home-page .tagline {
  color: #615822;
  padding: 40px;
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.home-page .description {
  text-align: center;
  margin: auto;
  color: black;
  width: 40vw;
  padding: 40px;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.home-page .button-container {
  width: 10vw;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.home-page .gs-button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: 1px solid #615822;
  cursor:pointer;
  overflow: hidden; 
  padding: 5px;
  font-weight: 700;
  border-radius: 5%;
}

/* .lm-button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: 1px solid #615822;
  color: #615822;
  cursor:pointer;
  overflow: hidden; 
  padding: 5px;
  font-weight: 700;
  border-radius: 5%;
} */

.home-page .form {
  height: 100vh;
  width: 100vw;
  background-color: black;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-page .form-panel {
  background-color: white;
  width: 50vw;
  height: 50vh;
  justify-self: center;
  align-self: center;
  opacity: 90%;
  border-radius: 10px;
  padding: 10px;
}

.home-page .form-container {
  height: 90%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 45% 45% 10%;
  
}

.input-box {
  margin-left: 30px;
  margin-top: 70px;
  background-color: white;
  opacity: 50%;
}

.input-box h6, .input-box p {
  margin-bottom: 10px;
}

.question {
  color: black;
}

.button-div {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#submit {
  /* grid-row: 3; */
  /* grid-column: 2; */
  /* width: 100px; */
  width: 100px;
  height: 30px;
  align-self: center;
  justify-self: center;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: 1px solid #ccb21d;
  color: #ccb21d;
  cursor:pointer;
  overflow: hidden; 
  padding: 5px;
  text-align: center;
  border-radius: 5%;
}