.venue-card {
    width: 60vw;
    height: 100px;
    background-color: lightblue;
    border: none;
    border-radius: 10px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.venue-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}